@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Orbitron:wght@400..900&display=swap');
html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4E4E;
}
body{
    width: 707px;
    background-color: #D9D9D9;
}
.homepage{
    position:relative;
    top:-150px;
    left: 100px;
}
#projects{
    position: relative;
    text-decoration: none;
    left: 25px;
    top: 75px;
    width: 150px;
    height: 50px;
    background-color: #44CED7;
    border-radius: 30px;
    color: 'white';
    color: #FFF;
    text-align: center;
    align-content: center;
    font-family: Caveat;
    font-size: 24px;
    border: #1f777e 1px solid;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;

}
.header{
    border-bottom: 25px solid transparent;
    border-left: 707px solid #393939;
    position: relative;
    top: -200px;
    width: 707px;
    height: 375px;
    flex-shrink: 0;
}
#name{
    position: absolute;
    left: -650px;
    top: 250px;
    color: #FFF;
    font-family: Orbitron;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.description{
    width: 282.5px;
    height: 205px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.footer-container{
    position: relative;
    left: 12px;
    width: 707px;
    height: 100px;
    background-color: #393939;
    display: flex;
    align-items: center;
}
img{
    width: 75px;
    height: 75px;
}
.pimage{
    width: 400px;
    height: 200px;
}
#back{
    position: relative;
    left: 67.5%;
}